.debtors {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.debtors-container {
  width: 82%;
}

.stats-group-debtors {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.stat-card-debtors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f7fc;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
}

.stat-card-debtors p {
  margin: 0 0 0.25rem 0;
  font-size: 0.8rem;
  color: #555;
}

.stat-card-debtors span {
  font-size: 1.5rem;
  font-weight: 800;
}

.debtors-list {
  margin-top: 2.3rem;
}

.debtors-list-title {
  background-color: white;
  padding: 27px 20px;
  border-radius: 10px 10px 0 0;
  border: 1px solid #EAEAEA;
  border-bottom: none;
}

.debtors-list-title h3 {
  margin-bottom: 0.5rem;
}

.debtors-list-title p {
  color: #555;
}

.debtors-list-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border: 1px solid #EAEAEA;
}

.debtors-list-table th {
  padding: 1.3rem 1rem;
  text-align: left;
  font-weight: 600;
  font-size: 0.9rem;
  color: #6c757d;
  border-bottom: 1px solid #EAEAEA;
}

.debtors-list-table td {
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #EAEAEA;
  vertical-align: middle;
}

.debtors-list-table tbody tr:hover {
  background-color: #fcfcfc;
}

.debtors-table-action {
  display: flex;
  justify-content: space-around;
}

.debtors-table-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: last baseline;
  border-radius: 10px;
}

.debtors-table-pencil {
  display: flex;
  gap: 5px;
  padding: 0.5rem 1.6rem;
  border-radius: 9px 0 0 9px;
  background-color: #f8f7fc;
  align-items: center;
  font-weight: 600;
  border: 1px solid #EAEAEA;
  border-top: none;
  border-bottom: none;
  border-left: none;
  transition: all 0.2s ease-in-out;
}

.debtors-table-check {
  display: flex;
  gap: 5px;
  font-weight: 600;
  align-items: center;
  padding: 0.5rem 1.6rem;
  background-color: #16a249;
  border-radius: 0 9px 9px 0;
  color: white;
  transition: all 0.2s ease-in-out;
}

.debtors-table-pencil:hover {
  background-color: #e6f2ff;
  color: #2474ee;
}

.debtors-table-check:hover {
  background-color: #138d40;
}

.debtors-table-pencil {
  display: flex;
  gap: 5px;
  padding: 0.5rem 1.6rem;
  border-radius: 9px 0 0 9px;
  background-color: #f8f7fc;
  align-items: center;
  font-weight: 600;
  border: 1px solid #EAEAEA;
  border-right: none;
  transition: all 0.2s ease-in-out;
}

.debtors-table-check {
  display: flex;
  gap: 5px;
  font-weight: 600;
  align-items: center;
  padding: 0.5rem 1.6rem;
  background-color: #16a249;
  border-radius: 0 9px 9px 0;
  color: white;
  transition: all 0.2s ease-in-out;
  border: 1px solid #EAEAEA;
}

.debtors-table-pencil:hover {
  background-color: #e6f2ff;
  color: #2474ee;
}

.debtors-table-check:hover {
  background-color: #138d40;
}

.col-table-name {
  width: 15%;
}

.debtors-list-table .col-table-value {
  width: 15%;
  text-align: center;
}

.debtors-list-table .col-table-date {
  width: 15%;
  text-align: center;
}

.debtors-list-table .col-table-action {
  width: 15%;
  text-align: center;
}

@media(max-width: 1024px) {
  .debtors-container{
    width: 96%;
  }
}

@media (max-width: 768px) {

  .debtors-container{
    width: 92%;
  }

  .stats-group-debtors {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

  .debtors-list-table {
  background-color: transparent;
  border: none;
}

.debtors-list-table thead {
  display: none;
}

.debtors-list-table,
.debtors-list-table tbody,
.debtors-list-table tr,
.debtors-list-table td {
  display: block;
  width: 100%;
}

.debtors-list-table tr {
  margin-bottom: 1rem;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  background-color: white;
  padding: 0.5rem;
}

.debtors-list-table tr:first-child {
  margin-bottom: 1rem;
  border: 1px solid #EAEAEA;
  border-radius: 0 0 8px 8px;
  background-color: white;
  padding: 0.5rem;
}

.debtors-list-table td {
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #EAEAEA;
  text-align: right;
  position: relative;
}

.debtors-list-table td:last-child {
  border-bottom: none;
}

.debtors-list-table td::before {
  content: attr(data-label);
  position: absolute;
  left: 1rem;
  font-weight: 600;
  color: #333;
  text-align: left;
  align-items: center;
}

.debtors-list-table td:last-child::before {
  content: attr(data-label);
  position: absolute;
  top: 1.4rem;
  left: 1rem;
  font-weight: 600;
  color: #333;
  text-align: left;
  align-items: center;
}

.debtors-table-action {
  display: flex;
  justify-content: space-around;
}

.debtors-table-icon-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.col-table-name {
  width: 100%;
}

.debtors-list-table .col-table-value {
  width: 100%;
  text-align: end;
}

.debtors-list-table .col-table-date {
  width: 100%;
  text-align: end;
}

.debtors-list-table .col-table-action {
  width: 100%;
  text-align: center;
}
}